<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRAFFIX MX</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/pages/home.css">
  <link rel="stylesheet" href="/css/components/navbar.css">
  <link rel="stylesheet" href="/css/pages/login.css">
  <link rel="stylesheet" href="/css/pages/cards.css">
  <link rel="stylesheet" href="/css/pages/pie.css">
<script defer src="/js/cards.js"></script>

  <!-- login -->
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&family=Montserrat:wght@300;400;500;600&display=swap"
    rel="stylesheet">
  
</head>

<body id="top">

  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a href="/" style="background-image: url(/images/home/logo.png); background-size: contain; background-repeat: no-repeat; width: 100px; height: 100px;"></a>
      <a class="navbar-brand" href="/">
        TRAFFIX MX
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="menu">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#top">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="#servicios">Servicios</a></li>
          <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
        </ul>
      </div>

      <a href="/login" class="btn btn-success">Iniciar Sesión</a>

    </div>
  </nav>